.login-form {
    display: flex;
    justify-content: center;
}

.login-form h2 {
    text-align: center;
}

.login-form .form-signin {
    width: 400px;
}

.back-to-homepage {
    text-align: center;
    font-size: 10px;
}

.error-message {
    margin: 10px 0;
    font-size: 14px;
    color: red;
    text-align: center;
}

.comment-container {
    border: 1px solid #1e9ad4;
    padding: 10px;
    margin: 5px 0;
    border-radius: 3px;
    position: relative;
}

.comment-container .comment-header {
    display: flex;
    justify-content: space-between;
}

.comment-container .comment-header h6 {
    margin-top: 0;
    color: #1e9ad4;
    display: inline-flex;
}

.comment-container .comment-header .remove-comment {
    color: red;
    display: inline-flex;
}

.row h4 {
    color: #1e9ad4;
    font-size: 14px;
    margin-bottom: 5px;
}

.row h3 {
    margin-top: 5px;
}

.row .left {
    text-align: right;
}

textarea.form-control {
    height: auto;
    border-color: #1e9ad4;
    margin: 0px 15px;
    width: 98%;
}

.submit-button {
    margin-bottom: 30px;
}

.page-footer {
    text-align: center;
    height: 30px;
    font-size: 10px;
}

.control-label {
    text-align: center !important;
}

.table-container {
    padding-top: 20px;
}

.button-new {
    text-align: center;
}

.register-success {
    text-align: center;
}

.register-success-login {
    margin: 30px 0 5px 0;
}

.register-success h3 {
    margin-top: 40px;
}

.person-center {
    padding: 40px;
}

.thead-person {
    border-top: solid 1px #1e9ad4;
    font-size: 18px;
}

.thead-person tbody tr {
    margin: 10px;
}

.table-person {
    color: #1e9ad4;
}

.navbar-login {
    border-top: 2px solid #e7e7e7;
}

.tdcenter {
    text-align: center;
    width: 120px;
}

.navbar-myteam{
    border-top: 1px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7 !important;
}
